* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.heart {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 50px auto;
    -webkit-animation: pulsing 1s linear 0s infinite;
}

@keyframes pulsing {
    0% {
        transform: scale(0.9) rotate(0deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }

    70% {
        transform: scale(1.1) rotate(0deg);
    }

    80%{
        transform: scale(1.2) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.square {
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    background-color: #e71940;
    position: absolute;
    top: 30px;
}

.circle:after, 
.circle:before {
    content: '';
    position: absolute;
    width: 54px;
    height: 55px;
    border-radius: 50%;
    background-color: #e71940;
}

.circle:after {
    left: 5px;
    top: 6px;
}

.circle:before {
    right: 5px;
    top: 6px;
}
