@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1818;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 450px;
    height: 125px;
}

.container span {
    text-transform: uppercase;
    margin: auto;
    font-family: 'Press Start 2P', sans-serif;
    color: #f49621;
    font-size: 3.5rem;
}

.ball {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: #f49621;
    animation: bounce .5s alternate infinite;
    
}

.ball:nth-child(2) {
    animation-delay: .16s;
}

.ball:nth-child(3) {
    animation-delay: .32s;
}

@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }
    to {
        transform: translateY(-150px) scaleX(1.1);
    }
}