@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif, arial, Arial, Helvetica;
    
}

.box {
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    
}

.container {
    text-align: center;
    border-radius: 10px;
    
    padding: 15px;
    /*box-shadow: */
    background-color: hsl(216, 50%, 16%);
}

.img img {
    margin: 10px 0 10px 0;
    border-radius: 10px;
    align-items: center;
    width: 350px;
    height: 350px;
}

.main-content {
    text-align: left;
    margin-left: 3rem;
}

.main-content p {
    width: 90%;
}

h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: .4rem;
}

.main-content p {
    color: hsl(216, 18%, 41%);
    margin-bottom: 10px;
}

.info, .info img {
    align-items: center;
    justify-content: space-between;
    margin-bottom: .4rem;
    display: flex;
    margin-right: 10px;
}

span { 
    color: hsl(0, 0%, 100%);
}
hr {
    width: 95%;
}

.creator-icon-info { 
    margin-top: .5rem;
    display: flex;
    align-items: center;
}

.creator-icon-info p {
    margin-left: .7rem;
}
