* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif, Arial, Helvetica;
    min-height: 100vh;
}

.c-load {
    animation: is-rotating 1s infinite;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #262626;
    height: 100px;
    width: 100px;
    background-color: transparent;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }

    100%
    {
        transform: rotate(360deg);
    }
}